# dependencies
node_modules/

# Next.js
.next/
out/

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Cache
.cache/